@using GuessBender_2024.Dtos.MatchDtos
@model List<ResultMatchWithTeamAndLeagueDetailsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}
<!-- Plugins css -->
<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<script>
    function handler(e) {

      //  alert(e.target.value);

                // make a HTTP GET request and pass currentObject as a queryparam
  //      var a = @Url.Action("Index", "AdminMatches",new  RouteValueDictionary("xxx"));
   //     a = a.replace("xxx", e.target.value)

        var url = '@Url.Action("Index", "AdminMatches", new { dt = "__id__" })';
        window.location.href = url.replace('__id__', e.target.value)
       // window.location = a;
           
    }

</script>

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Maç listesi</h4>
                        <input id="date" value="@ViewBag.date" onchange="handler(event);" style="float:right" type="date" />
                        <p class="card-subtitle mb-4">
                            Maç ekleme, silme, güncellemei arama ve listeleme gibi işlemleri bu sayfa üzerinden gerçekletirebilirsiniz.
                        </p>
                        
                        <div class="table-responsive">
                            <table id="basic-datatable" pageLength="100" class="table dt-responsive wrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>İç saha</th>
                                        <th>Deplasman</th>
                                        <th>Tarih</th>
                                        <th>Lig</th>
                                        <th>MS1</th>
                                        <th>MS2</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@item.Id</td>
                                            <td><img width="50" heigth="50" src="https://raw.githubusercontent.com/R-Fatih/ACCDB/main/Logos/TeamLogos/@(@item.HomeLogoId).png" />@item.HomeTeamName</td>
                                            <td><img width="50" heigth="50" src="https://raw.githubusercontent.com/R-Fatih/ACCDB/main/Logos/TeamLogos/@(@item.AwayLogoId).png" />@item.AwayTeamName</td>
                                            <td>@item.Date</td>
                                            <td><img width="50" heigth="50" alt="@item.LeagueName" src="https://raw.githubusercontent.com/R-Fatih/ACCDB/main/Logos/LeagueLogos/@(@item.LeagueId).png" /><a style="display:none">@item.LeagueName</a></td>
                                            <td>@item.HomeMS</td>
                                            <td>@item.AwayMS</td>
                                            <td><a href="/Admin/AdminMatches/RemoveMatch/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminMatches/UpdateMatch/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                            <td></td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminMatches/CreateMatch/" class="btn btn-primary">Yeni lig</a>
                            <a href="/Admin/AdminMatches/CreateMatchMultiple/" class="btn btn-primary">Yeni lig (toplu)</a>
                            <a href="/Admin/AdminMatches/UpdateMatches/@ViewBag.date" class="btn btn-primary">Toplu güncelle</a>
                            <a href="/Admin/AdminMatches/UpdateMatches/@ViewBag.date" class="btn btn-primary">Toplu güncelle (iki tarih arası)</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
